// iu = image uploader

$iu_border_color: #caf0f8;
$iu_border_width: 2px;
$iu_border_style: dashed;
$iu_border_radius: 10px;

// buttons

$button_bg_color: #ef233c;
$button_color: #e0fbfc;


// thumbnails
$thumbnail_size: 120px;
$thumbnail_select_border_color: #ef233c;
$thumbnail_select_border_width: 4px;
$thumbnail_margin: 5px;

.image-uploader{
    padding: 20px;
    border: $iu_border_width $iu_border_style $iu_border_color;
    border-radius: $iu_border_radius;
    display: inline-flex;;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    
    
    &__button{
        background-color: $button_bg_color;
        color: $button_color;
        padding: 15px 30px;;
        display: inline-flex;
        cursor: pointer;
        font-weight: 600;
      
    }

    &__file-counter{
        margin-left: 20px;;
        color: #e0fbfc;
    }


    &__input{
        position: absolute;
        top: -9999px;
    }

    &__thumbnails-list{
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;;

    }

    &__thumbnail-wrapper{
        list-style: none;
        position: relative;
        width: $thumbnail_size;
        height: $thumbnail_size;
        font-size: 12px;
        margin:  $thumbnail_margin;
    }

    &__thumbnail{
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        

        &.before{
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background-color:#03045e;
                opacity: .8;
            }
        }

        &.after{
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
                background-color:#03045e;
                opacity: .8;
            }
        }
    

        &--is-dragged
        {
           ///position: absolute;
            z-index: 999;
            border: $thumbnail_select_border_width solid $thumbnail_select_border_color;
            background-color: black;
         
        
        
        }

        &--is-selected
        {
           border: $thumbnail_select_border_width solid $thumbnail_select_border_color;
        
        }


        &__delete-icon{
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            background-color: $button_bg_color;
            color: $button_color;
            cursor: pointer;
        }
    }
}



.thumbnail-positioner{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid $iu_border_color;
    background-color: #e0fbfc;
    text-align: center;
    color: #293241;
    &__title{
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
        display: block;
    }

    &__exit-icon{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: transparent;
        border-width: 0;
        color: $button_bg_color;
        font-weight: 700;
        font-size: 20px;
    }

    &__actions{
        list-style: none;
        text-align:  center;
        margin: 0;
        padding: 0;
        display: flex;
      
        flex-wrap: wrap;
    }

    &__action{
        $action_root: &;
        width: 100%;
        padding: 15px;
        font-size: 16px;
        border-top: 1px solid $iu_border_color;
        box-sizing: border-box;
        &__icon{
            width: 20px;
        }

        &--set-to-previous{
            border-right: 1px solid $iu_border_color;
            #{$action_root}__icon{
                transform: rotate(180deg);
            }
        }

        
        &--set-to-next{
            border-left: 1px solid $iu_border_color;
            margin-left: auto;
           
        }

        &--set-to-previous, &--set-to-next{
           width: 50%;
        }

        &--delete{
            background-color: $button_bg_color;
            color: $button_color;
        }
    }
}